In [2]:
import pandas as pd
import numpy as np
import itertools

In [3]:
df = pd.read_csv('/dsa/groups/casestudy2022su/team06/TourneyMasterFile.csv')

In [4]:
df.head()

,Unnamed: 0,tournament_id,player_id,date,golfer,tournament,course,purse,year,score,...,finish,rounds,cut,shots_gained_putt,shots_gained_around_green,shots_gained_approach_green,shots_gained_off_the_tee,shots_gained_tee_to_green,shots_gained_total,top10
0,1,401353254,9261,3/13/2022,Abraham Ancer,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,285,...,T33,4,1,0.16,0.04,0.70,0.20,0.94,1.09,0
1,2,401353254,5548,3/13/2022,Adam Hadwin,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,281,...,T9,4,1,1.43,-0.11,1.04,-0.27,0.67,2.09,1
2,3,401353254,4989,3/13/2022,Anirban Lahiri,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,276,...,2,4,1,1.41,0.02,1.04,0.87,1.93,3.34,1
3,4,401353254,6015,3/13/2022,Adam Long,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,287,...,T46,4,1,0.37,0.15,-0.61,0.67,0.22,0.59,0
4,5,401353254,3832,3/13/2022,Alexander Noren,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,284,...,T26,4,1,-0.15,0.08,1.25,0.16,1.49,1.34,0

In [4]:
df = df[['tournament_id','player_id','date','golfer','cut','top10']]

In [5]:
df['date'] =  pd.to_datetime(df['date'])

In [6]:
df.dtypes

tournament_id             int64
player_id                 int64
date             datetime64[ns]
golfer                   object
cut                       int64
top10                     int64
dtype: object

In [7]:
df.head()

   tournament_id  player_id       date           golfer  cut  top10
0      401353254       9261 2022-03-13    Abraham Ancer    1      0
1      401353254       5548 2022-03-13      Adam Hadwin    1      1
2      401353254       4989 2022-03-13   Anirban Lahiri    1      1
3      401353254       6015 2022-03-13        Adam Long    1      0
4      401353254       3832 2022-03-13  Alexander Noren    1      0

In [8]:
df_sorted = df.sort_values(by=['golfer','date'],ascending=True)

In [9]:
df_sorted.head()
#will the date in this format be able to be merged into other dates?
#will we need to change our date column to date datatype?

       tournament_id  player_id       date          golfer  cut  top10
35434           2271         16 2014-10-12  Aaron Baddeley    1      0
35320           2260         16 2014-10-19  Aaron Baddeley    1      0
35218           2276         16 2014-10-26  Aaron Baddeley    1      0
34926           2270         16 2014-11-16  Aaron Baddeley    1      0
34538           2232         16 2015-02-01  Aaron Baddeley    1      0

In [10]:
df_sorted = df_sorted.reset_index(drop=True)

In [11]:
df_sorted.head()

   tournament_id  player_id       date          golfer  cut  top10
0           2271         16 2014-10-12  Aaron Baddeley    1      0
1           2260         16 2014-10-19  Aaron Baddeley    1      0
2           2276         16 2014-10-26  Aaron Baddeley    1      0
3           2270         16 2014-11-16  Aaron Baddeley    1      0
4           2232         16 2015-02-01  Aaron Baddeley    1      0

In [12]:
def generate_streak_counter(golf_df,streak_type):
    '''
    This counts the number cuts made/missed by a golfer in a row from tournament to tournament.
    The dataframe being input is the tournament df that has been cleaned from our file share.
    This function will use the cuts column to differentiate the streak and group by player_id
    to make sure the right player's streak is being counted.
    
    This function will return the original df with a new column that counts the streak.
    
    The streak_type input can be either 'cut' or 'top10' depending on the type of streak 
    you are looking to investigate.
    
    '''
    
    data = golf_df[['player_id',streak_type]].copy()
    data['start_of_streak_{}'.format(streak_type)] = data[streak_type].ne(data[streak_type].shift())
    data['streak_id_{}'.format(streak_type)] = data['start_of_streak_{}'.format(streak_type)].cumsum()
    data['streak_counter_{}'.format(streak_type)] = data.groupby(['player_id','streak_id_{}'.format(streak_type)]).cumcount() +1
#     print(data['streak_counter_{}'.format(streak_type)])
    
#     shots_with_streaks = pd.concat([df_sorted, data['streak_counter_{}'.format(streak_type)]], axis =1)
#     return shots_with_streaks
    return data['streak_counter_{}'.format(streak_type)]

golf_df = df_sorted
golfer_streaks = generate_streak_counter(golf_df,'cut')

In [13]:
golfer_streaks.head(30)

0     1
1     2
2     3
3     4
4     5
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    2
15    1
16    1
17    2
18    3
19    1
20    1
21    1
22    1
23    1
24    2
25    1
26    1
27    2
28    3
29    1
Name: streak_counter_cut, dtype: int64

In [14]:
cols = ['cut','top10']

In [15]:
def make_streak_columns(cols):
    '''
    this function takes the columns that you want to count the streaks for and make them.
    
    input a list of columns that are in a dataframe that you want to find the streaks for.
    
    '''
    streak_df = pd.DataFrame()
    streak_dict = {}
    for i in cols:
        df = generate_streak_counter(golf_df,i)
        streak_dict[df.name] = df.values
        streak_df = pd.DataFrame.from_dict(streak_dict)
    return streak_df

In [16]:
streak_df = make_streak_columns(cols)

In [17]:
streak_df

       streak_counter_cut  streak_counter_top10
0                       1                     1
1                       2                     2
2                       3                     3
3                       4                     4
4                       5                     5
...                   ...                   ...
35540                   5                    22
35541                   6                    23
35542                   1                    24
35543                   1                     1
35544                   2                     2

[35545 rows x 2 columns]

In [18]:
df_sorted

       tournament_id  player_id       date          golfer  cut  top10
0               2271         16 2014-10-12  Aaron Baddeley    1      0
1               2260         16 2014-10-19  Aaron Baddeley    1      0
2               2276         16 2014-10-26  Aaron Baddeley    1      0
3               2270         16 2014-11-16  Aaron Baddeley    1      0
4               2232         16 2015-02-01  Aaron Baddeley    1      0
...              ...        ...        ...             ...  ...    ...
35540      401025264       8889 2018-08-29     Zecheng Dou    0      0
35541           3747       8889 2018-11-14     Zecheng Dou    0      0
35542      401148241       8889 2019-11-03     Zecheng Dou    1      0
35543      401148241       8887 2019-11-03   Zheng-kai Bai    1      0
35544      401243409       8887 2021-07-18   Zheng-kai Bai    1      0

[35545 rows x 6 columns]

In [19]:
full_data = df_sorted.join(streak_df)

In [20]:
full_data.head(30)

,tournament_id,player_id,date,golfer,cut,top10,streak_counter_cut,streak_counter_top10
0,2271,16,2014-10-12,Aaron Baddeley,1,0,1,1
1,2260,16,2014-10-19,Aaron Baddeley,1,0,2,2
2,2276,16,2014-10-26,Aaron Baddeley,1,0,3,3
3,2270,16,2014-11-16,Aaron Baddeley,1,0,4,4
4,2232,16,2015-02-01,Aaron Baddeley,1,0,5,5
5,2234,16,2015-02-08,Aaron Baddeley,0,0,1,6
6,2233,16,2015-02-15,Aaron Baddeley,1,0,1,7
7,2236,16,2015-02-22,Aaron Baddeley,0,0,1,8
8,2261,16,2015-03-29,Aaron Baddeley,1,0,1,9
9,2244,16,2015-04-05,Aaron Baddeley,0,0,1,10
10,2242,16,2015-04-19,Aaron Baddeley,1,0,1,11
11,2240,16,2015-05-10,Aaron Baddeley,0,0,1,12
12,2268,16,2015-05-17,Aaron Baddeley,1,0,1,13
13,2246,16,2015-05-24,Aaron Baddeley,0,0,1,14
14,2245,16,2015-05-31,Aaron Baddeley,0,0,2,15
15,2250,16,2015-06-14,Aaron Baddeley,1,0,1,16
16,2274,16,2015-07-05,Aaron Baddeley,0,0,1,17
17,2258,16,2015-07-12,Aaron Baddeley,0,0,2,18
18,2257,16,2015-07-26,Aaron Baddeley,0,0,3,19
19,2272,16,2015-08-02,Aaron Baddeley,1,0,1,20
20,2243,16,2015-08-23,Aaron Baddeley,0,0,1,21
21,2522,16,2015-11-16,Aaron Baddeley,1,0,1,22
22,2528,16,2015-11-22,Aaron Baddeley,0,0,1,23
23,2483,16,2016-01-24,Aaron Baddeley,1,0,1,24
24,2486,16,2016-02-01,Aaron Baddeley,1,1,2,1
25,2484,16,2016-02-07,Aaron Baddeley,0,0,1,1
26,2485,16,2016-02-14,Aaron Baddeley,1,0,1,2
27,2488,16,2016-02-21,Aaron Baddeley,1,0,2,3
28,2525,16,2016-03-27,Aaron Baddeley,1,0,3,4
29,2496,16,2016-04-03,Aaron Baddeley,0,0,1,5

In [21]:
made_cut = full_data[full_data['cut']==1]

In [22]:
made_cut = made_cut.groupby(['golfer']).agg({'streak_counter_cut':['mean','max']})

In [23]:
made_cut = made_cut.reset_index()

In [24]:
made_cut

             golfer streak_counter_cut
                                  mean max
0    Aaron Baddeley           2.012821   7
1         Aaron Rai           1.923077   4
2        Aaron Wise           3.166667  14
3     Abraham Ancer           3.838710  15
4       Adam Hadwin           4.902256  17
..              ...                ...  ..
455    Zach Johnson           4.048000  14
456     Zack Sucher           1.480000   3
457  Zander Lombard           1.500000   2
458     Zecheng Dou           1.333333   3
459   Zheng-kai Bai           1.500000   2

[460 rows x 3 columns]

In [25]:
# SELECT golfer,MAX(streak_counter_cut) FROM streak_table WHERE cut = 1 GROUP BY golfer ORDER BY max DESC LIMIT 5;
#       golfer      | max
# ------------------+-----
#  Tommy Fleetwood  |  31
#  Dustin Johnson   |  31
#  Emiliano Grillo  |  27
#  Paul Casey       |  26
#  Hideki Matsuyama |  25
# (5 rows)
# #top 5 cuts made in a row

# SELECT golfer,MAX(streak_counter_cut) FROM streak_table WHERE cut = 0 GROUP BY golfer ORDER BY max DESC LIMIT 5;
#      golfer     | max
# ----------------+-----
#  Michael Kim    |  21
#  Matt Every     |  21
#  Brendon Todd   |  18
#  Nick Watney    |  17
#  Smylie Kaufman |  16
# (5 rows)
# #top 5 golfers that missed the cut in a row

# SELECT golfer,MAX(streak_counter_top10) FROM streak_table WHERE top10 = 1 GROUP BY golfer ORDER BY max DESC LIMIT 5;
#       golfer       | max
# -------------------+-----
#  Bryson DeChambeau |   7
#  Rory McIlroy      |   6
#  Dustin Johnson    |   6
#  Patrick Cantlay   |   6
#  Daniel Berger     |   5
# (5 rows)
# #top 5 golfers that made top 10 in a row

# SELECT golfer,MAX(streak_counter_top10) FROM streak_table WHERE top10 = 0 GROUP BY golfer ORDER BY max DESC LIMIT 5;
#     golfer     | max
# ---------------+-----
#  Peter Malnati | 127
#  Fabian Gomez  | 118
#  Billy Hurley  | 104
#  Brice Garnett |  92
#  Greg Chalmers |  90
# (5 rows)
# #top 5 golfers to miss the top 10 in a row



# #answers queried in SQL

In [26]:
#35 unique golfers that have had tournament top 10 streaks >=3 and 83 total times a streak 3>= has happened
#take the average strokes gained and see how the golfers performed compared to the average hot golfer the 
#game after the streak

In [27]:
#plot this data to visualize which golfer has made the highest amount of cuts and who has the highest average streaks
#460 golfers have made the cut at least 1 time

In [28]:
missed_cut = full_data[full_data['cut']==0]

In [29]:
missed_cut = missed_cut.groupby(['golfer']).agg({'streak_counter_cut':['mean','max']})

In [30]:
missed_cut = missed_cut.reset_index()

In [31]:
missed_cut

              golfer streak_counter_cut
                                   mean max
0     Aaron Baddeley           1.800000   5
1          Aaron Rai           1.375000   3
2         Aaron Wise           1.550000   5
3      Abel Gallegos           1.500000   2
4      Abraham Ancer           1.266667   3
..               ...                ...  ..
481     Zach Johnson           1.200000   3
482  Zachary Bauchou           2.500000   4
483      Zack Sucher           2.111111   5
484   Zander Lombard           1.000000   1
485      Zecheng Dou           2.400000   6

[486 rows x 3 columns]

In [32]:
#486 golfers have missed the cut
#this means 26 golfers never made the cut, unless some players never missed the cut in a tournament

In [33]:
pd.set_option('display.max_rows', None)

In [34]:
full_data[full_data['golfer']=='Tommy Fleetwood']
#5/13/2018 to 2/29/2020

,tournament_id,player_id,date,golfer,cut,top10,streak_counter_cut,streak_counter_top10
32726,2267,5539,2014-11-09,Tommy Fleetwood,1,0,1,1
32727,2266,5539,2015-03-08,Tommy Fleetwood,1,0,2,2
32728,2247,5539,2015-06-07,Tommy Fleetwood,0,0,1,3
32729,2249,5539,2015-06-21,Tommy Fleetwood,1,0,1,4
32730,2253,5539,2015-07-20,Tommy Fleetwood,0,0,1,5
32731,2255,5539,2015-08-16,Tommy Fleetwood,0,0,2,6
32732,2519,5539,2015-11-08,Tommy Fleetwood,1,0,1,7
32733,2505,5539,2016-07-10,Tommy Fleetwood,0,0,1,8
32734,3735,5539,2017-03-05,Tommy Fleetwood,1,1,1,1
32735,2697,5539,2017-03-19,Tommy Fleetwood,1,1,2,2
32736,2700,5539,2017-04-09,Tommy Fleetwood,0,0,1,1
32737,2699,5539,2017-05-14,Tommy Fleetwood,1,0,1,2
32738,2706,5539,2017-06-04,Tommy Fleetwood,0,0,1,3
32739,3066,5539,2017-06-18,Tommy Fleetwood,1,0,1,4
32740,2710,5539,2017-07-23,Tommy Fleetwood,1,0,2,5
32741,2713,5539,2017-08-06,Tommy Fleetwood,1,0,3,6
32742,2712,5539,2017-08-13,Tommy Fleetwood,1,0,4,7
32743,3774,5539,2017-10-29,Tommy Fleetwood,1,0,5,8
32744,3791,5539,2017-12-03,Tommy Fleetwood,1,0,6,9
32745,3748,5539,2018-02-18,Tommy Fleetwood,1,0,7,10
32746,3749,5539,2018-02-25,Tommy Fleetwood,1,1,8,1
32747,3789,5539,2018-03-04,Tommy Fleetwood,1,0,9,1
32748,3750,5539,2018-03-18,Tommy Fleetwood,1,0,10,2
32749,401025221,5539,2018-04-08,Tommy Fleetwood,1,0,11,3
32750,401025249,5539,2018-05-06,Tommy Fleetwood,0,0,1,4
32751,401025250,5539,2018-05-13,Tommy Fleetwood,1,1,1,1
32752,401025255,5539,2018-06-17,Tommy Fleetwood,1,0,2,1
32753,401025259,5539,2018-07-22,Tommy Fleetwood,1,0,3,2
32754,401025260,5539,2018-07-29,Tommy Fleetwood,1,1,4,1
32755,401025261,5539,2018-08-05,Tommy Fleetwood,1,0,5,1
32756,401025263,5539,2018-08-12,Tommy Fleetwood,1,0,6,2
32757,401025265,5539,2018-08-26,Tommy Fleetwood,1,0,7,3
32758,401025266,5539,2018-09-03,Tommy Fleetwood,1,0,8,4
32759,401025267,5539,2018-09-10,Tommy Fleetwood,1,1,9,1
32760,401025268,5539,2018-09-23,Tommy Fleetwood,1,0,10,1
32761,401056502,5539,2018-10-28,Tommy Fleetwood,1,0,11,2
32762,401056514,5539,2019-02-11,Tommy Fleetwood,1,0,12,3
32763,401056515,5539,2019-02-14,Tommy Fleetwood,1,0,13,4
32764,401056516,5539,2019-02-24,Tommy Fleetwood,1,0,14,5
32765,401056521,5539,2019-03-10,Tommy Fleetwood,1,1,15,1
32766,401056522,5539,2019-03-17,Tommy Fleetwood,1,1,16,2
32767,401056527,5539,2019-04-14,Tommy Fleetwood,1,0,17,1
32768,401056528,5539,2019-04-21,Tommy Fleetwood,1,0,18,2
32769,401056552,5539,2019-05-19,Tommy Fleetwood,1,0,19,3
32770,401056556,5539,2019-06-16,Tommy Fleetwood,1,0,20,4
32771,401056549,5539,2019-06-23,Tommy Fleetwood,1,0,21,5
32772,401056547,5539,2019-07-21,Tommy Fleetwood,1,0,22,6
32773,401056559,5539,2019-07-28,Tommy Fleetwood,1,1,23,1
32774,401056544,5539,2019-08-11,Tommy Fleetwood,1,0,24,1
32775,401056543,5539,2019-08-18,Tommy Fleetwood,1,0,25,2
32776,401056542,5539,2019-08-25,Tommy Fleetwood,1,0,26,3
32777,401148238,5539,2019-10-20,Tommy Fleetwood,1,0,27,4
32778,401148239,5539,2019-10-27,Tommy Fleetwood,1,0,28,5
32779,401148241,5539,2019-11-03,Tommy Fleetwood,1,0,29,6
32780,401155424,5539,2020-02-22,Tommy Fleetwood,1,0,30,7
32781,401155426,5539,2020-02-29,Tommy Fleetwood,1,1,31,1
32782,401155427,5539,2020-03-07,Tommy Fleetwood,0,0,1,1
32783,401155472,5539,2020-07-26,Tommy Fleetwood,0,0,2,2
32784,401155467,5539,2020-08-02,Tommy Fleetwood,1,0,1,3
32785,401219481,5539,2020-08-09,Tommy Fleetwood,1,0,2,4
32786,401155473,5539,2020-08-16,Tommy Fleetwood,1,0,3,5
32787,401155474,5539,2020-08-23,Tommy Fleetwood,1,0,4,6
32788,401219333,5539,2020-09-20,Tommy Fleetwood,0,0,1,7
32789,401219796,5539,2020-10-18,Tommy Fleetwood,1,0,1,8
32790,401219797,5539,2020-10-25,Tommy Fleetwood,1,0,2,9
32791,401219478,5539,2020-11-15,Tommy Fleetwood,1,0,3,10
32792,401219801,5539,2020-11-22,Tommy Fleetwood,1,0,4,11
32793,401243002,5539,2021-02-28,Tommy Fleetwood,1,0,5,12
32794,401243004,5539,2021-03-07,Tommy Fleetwood,1,1,6,1
32795,401243005,5539,2021-03-14,Tommy Fleetwood,0,0,1,1
32796,401243010,5539,2021-04-11,Tommy Fleetwood,1,0,1,2
32797,401243011,5539,2021-04-18,Tommy Fleetwood,0,0,1,3
32798,401243420,5539,2021-05-09,Tommy Fleetwood,1,0,1,4
32799,401243418,5539,2021-05-23,Tommy Fleetwood,0,0,1,5
32800,401317529,5539,2021-06-13,Tommy Fleetwood,1,0,1,6
32801,401243414,5539,2021-06-20,Tommy Fleetwood,1,0,2,7
32802,401243410,5539,2021-07-18,Tommy Fleetwood,1,0,3,8
32803,401243407,5539,2021-08-08,Tommy Fleetwood,1,0,4,9
32804,401243405,5539,2021-08-15,Tommy Fleetwood,1,0,5,10
32805,401353196,5539,2021-10-17,Tommy Fleetwood,1,0,6,11
32806,401353197,5539,2021-10-24,Tommy Fleetwood,1,0,7,12
32807,401353238,5539,2022-02-27,Tommy Fleetwood,0,0,1,13
32808,401353239,5539,2022-03-06,Tommy Fleetwood,1,0,1,14
32809,401353254,5539,2022-03-13,Tommy Fleetwood,1,0,2,15

In [35]:
full_data[full_data['golfer']=='Dustin Johnson']
#rare for dustin johnson to miss the cut 3/8/2015 to 7/24/2016

,tournament_id,player_id,date,golfer,cut,top10,streak_counter_cut,streak_counter_top10
10797,2234,3448,2015-02-08,Dustin Johnson,0,0,1,1
10798,2233,3448,2015-02-15,Dustin Johnson,1,1,1,1
10799,2236,3448,2015-02-22,Dustin Johnson,1,1,2,2
10800,2237,3448,2015-03-02,Dustin Johnson,0,0,1,1
10801,2266,3448,2015-03-08,Dustin Johnson,1,0,1,2
10802,2261,3448,2015-03-29,Dustin Johnson,1,1,2,1
10803,2241,3448,2015-04-12,Dustin Johnson,1,0,3,1
10804,2240,3448,2015-05-10,Dustin Johnson,1,0,4,2
10805,2245,3448,2015-05-31,Dustin Johnson,1,1,5,1
10806,2247,3448,2015-06-07,Dustin Johnson,1,0,6,1
10807,2249,3448,2015-06-21,Dustin Johnson,1,0,7,2
10808,2253,3448,2015-07-20,Dustin Johnson,1,0,8,3
10809,2256,3448,2015-08-09,Dustin Johnson,1,0,9,4
10810,2255,3448,2015-08-16,Dustin Johnson,1,1,10,1
10811,2248,3448,2015-08-30,Dustin Johnson,1,0,11,1
10812,2269,3448,2015-09-07,Dustin Johnson,1,0,12,2
10813,2252,3448,2015-09-20,Dustin Johnson,1,1,13,1
10814,2262,3448,2015-09-27,Dustin Johnson,1,1,14,2
10815,2519,3448,2015-11-08,Dustin Johnson,1,0,15,1
10816,2605,3448,2015-12-06,Dustin Johnson,1,0,16,2
10817,2482,3448,2016-01-10,Dustin Johnson,1,0,17,3
10818,2486,3448,2016-02-01,Dustin Johnson,1,0,18,4
10819,2485,3448,2016-02-14,Dustin Johnson,1,0,19,5
10820,2488,3448,2016-02-21,Dustin Johnson,1,0,20,6
10821,2518,3448,2016-03-06,Dustin Johnson,1,0,21,7
10822,2496,3448,2016-04-03,Dustin Johnson,1,1,22,1
10823,2493,3448,2016-04-10,Dustin Johnson,1,0,23,1
10824,2492,3448,2016-05-15,Dustin Johnson,1,0,24,2
10825,2497,3448,2016-05-22,Dustin Johnson,1,0,25,3
10826,2499,3448,2016-06-05,Dustin Johnson,1,1,26,1
10827,2502,3448,2016-06-12,Dustin Johnson,1,1,27,2
10828,2501,3448,2016-06-19,Dustin Johnson,1,0,28,1
10829,2508,3448,2016-07-03,Dustin Johnson,1,1,29,1
10830,2505,3448,2016-07-10,Dustin Johnson,1,0,30,1
10831,2509,3448,2016-07-24,Dustin Johnson,1,1,31,1
10832,2507,3448,2016-07-31,Dustin Johnson,0,0,1,1
10833,2500,3448,2016-08-28,Dustin Johnson,1,0,1,2
10834,2521,3448,2016-09-05,Dustin Johnson,1,0,2,3
10835,2504,3448,2016-09-11,Dustin Johnson,1,1,3,1
10836,2513,3448,2016-09-25,Dustin Johnson,1,1,4,2
10837,2722,3448,2016-10-30,Dustin Johnson,1,0,5,1
10838,3069,3448,2016-12-04,Dustin Johnson,1,0,6,2
10839,2689,3448,2017-01-08,Dustin Johnson,1,0,7,3
10840,2693,3448,2017-01-29,Dustin Johnson,0,0,1,4
10841,2692,3448,2017-02-12,Dustin Johnson,1,1,1,1
10842,2695,3448,2017-02-19,Dustin Johnson,1,1,2,2
10843,3735,3448,2017-03-05,Dustin Johnson,1,1,3,3
10844,3067,3448,2017-05-07,Dustin Johnson,1,1,4,4
10845,2699,3448,2017-05-14,Dustin Johnson,1,0,5,1
10846,2704,3448,2017-05-21,Dustin Johnson,1,0,6,2
10847,2706,3448,2017-06-04,Dustin Johnson,0,0,1,3
10848,3066,3448,2017-06-18,Dustin Johnson,0,0,2,4
10849,2710,3448,2017-07-23,Dustin Johnson,1,0,1,5
10850,2714,3448,2017-07-30,Dustin Johnson,1,1,2,1
10851,2713,3448,2017-08-06,Dustin Johnson,1,0,3,1
10852,2712,3448,2017-08-13,Dustin Johnson,1,0,4,2
10853,3065,3448,2017-08-27,Dustin Johnson,1,1,5,1
10854,2723,3448,2017-09-04,Dustin Johnson,1,0,6,1
10855,2709,3448,2017-09-17,Dustin Johnson,1,0,7,2
10856,2718,3448,2017-09-24,Dustin Johnson,1,0,8,3
10857,3774,3448,2017-10-29,Dustin Johnson,1,0,9,4
10858,3791,3448,2017-12-03,Dustin Johnson,1,0,10,5
10859,3742,3448,2018-01-07,Dustin Johnson,1,1,11,1
10860,3745,3448,2018-02-11,Dustin Johnson,1,1,12,2
10861,3748,3448,2018-02-18,Dustin Johnson,1,0,13,1
10862,3789,3448,2018-03-04,Dustin Johnson,1,1,14,1
10863,401025221,3448,2018-04-08,Dustin Johnson,1,0,15,1
10864,401025246,3448,2018-04-15,Dustin Johnson,1,0,16,2
10865,401025250,3448,2018-05-13,Dustin Johnson,1,0,17,3
10866,401025253,3448,2018-06-03,Dustin Johnson,1,1,18,1
10867,401025254,3448,2018-06-10,Dustin Johnson,1,1,19,2
10868,401025255,3448,2018-06-17,Dustin Johnson,1,0,20,1
10869,401025259,3448,2018-07-22,Dustin Johnson,0,0,1,2
10870,401025260,3448,2018-07-29,Dustin Johnson,1,1,1,1
10871,401025261,3448,2018-08-05,Dustin Johnson,1,1,2,2
10872,401025263,3448,2018-08-12,Dustin Johnson,1,0,3,1
10873,401025265,3448,2018-08-26,Dustin Johnson,1,0,4,2
10874,401025266,3448,2018-09-03,Dustin Johnson,1,1,5,1
10875,401025267,3448,2018-09-10,Dustin Johnson,1,0,6,1
10876,401025268,3448,2018-09-23,Dustin Johnson,1,1,7,1
10877,401056502,3448,2018-10-28,Dustin Johnson,1,0,8,1
10878,401077167,3448,2018-12-02,Dustin Johnson,1,0,9,2
10879,401056507,3448,2019-01-06,Dustin Johnson,1,1,10,1
10880,401056514,3448,2019-02-11,Dustin Johnson,1,0,11,1
10881,401056515,3448,2019-02-14,Dustin Johnson,1,1,12,1
10882,401056516,3448,2019-02-24,Dustin Johnson,1,1,13,2
10883,401056522,3448,2019-03-17,Dustin Johnson,1,1,14,3
10884,401056523,3448,2019-03-24,Dustin Johnson,1,1,15,4
10885,401056527,3448,2019-04-14,Dustin Johnson,1,0,16,1
10886,401056528,3448,2019-04-21,Dustin Johnson,1,0,17,2
10887,401056552,3448,2019-05-19,Dustin Johnson,1,1,18,1
10888,401056555,3448,2019-06-09,Dustin Johnson,1,0,19,1
10889,401056556,3448,2019-06-16,Dustin Johnson,1,0,20,2
10890,401056557,3448,2019-06-30,Dustin Johnson,0,0,1,3
10891,401056547,3448,2019-07-21,Dustin Johnson,1,0,1,4
10892,401056559,3448,2019-07-28,Dustin Johnson,1,0,2,5
10893,401056544,3448,2019-08-11,Dustin Johnson,1,0,3,6
10894,401056543,3448,2019-08-18,Dustin Johnson,1,0,4,7
10895,401056542,3448,2019-08-25,Dustin Johnson,1,0,5,8
10896,401155413,3448,2020-01-05,Dustin Johnson,1,1,6,1
10897,401155422,3448,2020-02-08,Dustin Johnson,1,0,7,1
10898,401155423,3448,2020-02-15,Dustin Johnson,1,1,8,1
10899,401155424,3448,2020-02-22,Dustin Johnson,1,0,9,1
10900,401155459,3448,2020-06-14,Dustin Johnson,0,0,1,2
10901,401219498,3448,2020-06-21,Dustin Johnson,1,0,1,3
10902,401155466,3448,2020-06-28,Dustin Johnson,1,1,2,1
10903,401155461,3448,2020-07-19,Dustin Johnson,0,0,1,1
10904,401155472,3448,2020-07-26,Dustin Johnson,0,0,2,2
10905,401155467,3448,2020-08-02,Dustin Johnson,1,0,1,3
10906,401219481,3448,2020-08-09,Dustin Johnson,1,1,2,1
10907,401155474,3448,2020-08-23,Dustin Johnson,1,1,3,2
10908,401155475,3448,2020-08-30,Dustin Johnson,1,1,4,3
10909,401155476,3448,2020-09-07,Dustin Johnson,1,1,5,4
10910,401219333,3448,2020-09-20,Dustin Johnson,1,1,6,5
10911,401219800,3448,2020-11-08,Dustin Johnson,1,1,7,6
10912,401219478,3448,2020-11-15,Dustin Johnson,1,0,8,1
10913,401242996,3448,2021-01-10,Dustin Johnson,1,0,9,2
10914,401243001,3448,2021-02-21,Dustin Johnson,1,1,10,1
10915,401243002,3448,2021-02-28,Dustin Johnson,1,0,11,1
10916,401243005,3448,2021-03-14,Dustin Johnson,1,0,12,2
10917,401243010,3448,2021-04-11,Dustin Johnson,0,0,1,3
10918,401243011,3448,2021-04-18,Dustin Johnson,1,0,1,4
10919,401243418,3448,2021-05-23,Dustin Johnson,0,0,1,5
10920,401317529,3448,2021-06-13,Dustin Johnson,1,1,1,1
10921,401243414,3448,2021-06-20,Dustin Johnson,1,0,2,1
10922,401243413,3448,2021-06-27,Dustin Johnson,1,0,3,2
10923,401243410,3448,2021-07-18,Dustin Johnson,1,0,4,3
10924,401243408,3448,2021-07-25,Dustin Johnson,0,0,1,4
10925,401243407,3448,2021-08-08,Dustin Johnson,1,1,1,1
10926,401243404,3448,2021-08-23,Dustin Johnson,0,0,1,1
10927,401243403,3448,2021-08-29,Dustin Johnson,1,1,1,1
10928,401243402,3448,2021-09-05,Dustin Johnson,1,1,2,2
10929,401353196,3448,2021-10-17,Dustin Johnson,1,0,3,1
10930,401353234,3448,2022-01-29,Dustin Johnson,1,0,4,2
10931,401353237,3448,2022-02-20,Dustin Johnson,0,0,1,3
10932,401353254,3448,2022-03-13,Dustin Johnson,1,1,1,1

In [36]:
# full_data.to_csv('streak_data.csv')

In [37]:
df = pd.read_csv('/dsa/groups/casestudy2022su/team06/streak_data.csv')

In [38]:
df.head()

,Unnamed: 0,tournament_id,player_id,date,golfer,cut,top10,streak_counter_cut,streak_counter_top10
0,0,2271,16,2014-10-12,Aaron Baddeley,1,0,1,1
1,1,2260,16,2014-10-19,Aaron Baddeley,1,0,2,2
2,2,2276,16,2014-10-26,Aaron Baddeley,1,0,3,3
3,3,2270,16,2014-11-16,Aaron Baddeley,1,0,4,4
4,4,2232,16,2015-02-01,Aaron Baddeley,1,0,5,5

In [39]:
df = df.drop(['Unnamed: 0'], axis =1)

In [40]:
df['date'] =  pd.to_datetime(df['date'])

In [41]:
df.dtypes
#make sure date is a date datatype

tournament_id                    int64
player_id                        int64
date                    datetime64[ns]
golfer                          object
cut                              int64
top10                            int64
streak_counter_cut               int64
streak_counter_top10             int64
dtype: object

In [42]:
import getpass
import pandas.io.sql as psql
mypasswd = getpass.getpass()
username = 'sebmb'
host = 'pgsql.dsa.lan'
database = 'casestdysu22t06'

Â·Â·Â·Â·Â·Â·Â·Â·

In [43]:
# import pandas.io.sql as psql
# tourn_dates = psql.read_sql("SELECT DISTINCT * FROM tournament_table;",engine)
# tourn_dates.head()

In [44]:
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine
from sqlalchemy import select

# SQLAlchemy Connection Parameters
postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database' :database}
engine = create_engine(URL(**postgres_db), echo=True)
del mypasswd

In [45]:
print('streak_table')
engine.execute("SELECT golfer,cut,streak_counter_cut FROM streak_table WHERE golfer = 'Aaron Baddeley LIMIT 5';").fetchall()

streak_table
2022-07-07 07:45:00,501 INFO sqlalchemy.engine.base.Engine select version()
2022-07-07 07:45:00,502 INFO sqlalchemy.engine.base.Engine {}
2022-07-07 07:45:00,505 INFO sqlalchemy.engine.base.Engine select current_schema()
2022-07-07 07:45:00,506 INFO sqlalchemy.engine.base.Engine {}
2022-07-07 07:45:00,508 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-07-07 07:45:00,509 INFO sqlalchemy.engine.base.Engine {}
2022-07-07 07:45:00,513 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-07-07 07:45:00,514 INFO sqlalchemy.engine.base.Engine {}
2022-07-07 07:45:00,515 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2022-07-07 07:45:00,515 INFO sqlalchemy.engine.base.Engine {}
2022-07-07 07:45:00,517 INFO sqlalchemy.engine.base.Engine SELECT golfer,cut,streak_counter_cut FROM streak_table WHERE golfer = 'Aaron Baddeley LIMIT 5';
2022-07-07 07:45:00,517 INFO sqlalchemy.engine.base.Engine {}

[]

In [ ]:
engine.execute("grant select on player_table to public;")
engine.execute("grant select on streak_table to public;")
engine.execute("grant select on tournament_table to public;")
engine.execute("grant select on tourney_dates to public;")
engine.execute("grant select on weather_locations to public;")
engine.execute("grant select on weather_table to public;")
#grant permission for my team to all my tables in the database

In [ ]:
# SELECT t.tournament_id, t.player_id, s.golfer, s.date, t.shots_gained_total, t.cut, t.top10, s.streak_counter_cut, 
# s.streak_counter_top10 FROM tournament_table t JOIN streak_table s USING(tournament_id, player_id) LIMIT 5;

In [ ]:
# SELECT * FROM tournament_table t JOIN tourney_dates USING(tournament_id)  JOIN player_table USING(player_id)
# JOIN streak_table s USING(tournament_id, player_id)
# JOIN weather_table w USING(date) JOIN weather_locations wl USING(station) LIMIT 5;

In [ ]:
# SELECT * FROM tournament_table t JOIN tourney_dates td ON(t.tournament_id=td.tournament_id)
# JOIN player_table p ON(t.player_id = p.player_id)
# JOIN pga_majors pm ON(td.date = pm.end_date)
# JOIN streak_table s ON (t.tournament_id = s.tournament_id AND t.player_id = s.player_id) 
# JOIN weather_table w ON(td.date = w.date) JOIN weather_locations wl ON(w.station = wl.station) LIMIT 5;
#this joined all the datasets together